/* CSS Document */
.footer {
    background-color: #474948;
    bottom:0;
    width:100%;
}
.copy {
    color: #B4B4B4;
}
.disclaimer {
    font-size: 11px;
    color: #FBFBF9;
}

.crmWidth {
    width: 100%;
    
}

#mytable {
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
    margin: 20px;
    text-align: left;
    width: 1004px;
}

#mytable th {
    background: none repeat scroll 0 0 #003B72;
    font-size: 13px;
    font-weight: normal;
    padding: 5px;
}


body {
	font-family: Arial;
	  font-size:12px;
	  color:#000000;
	  margin:0;
	  }
body,td,th {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.aMainTable{ width:100%; border:0px;}
.aHeaderTd{ 
	height:75px; text-align:center;
	-moz-box-shadow:0px 5px 5px #97C200;
	-webkit-box-shadow:0px 5px 5px #97C200; 
	box-shadow:0px 5px 5px #97C200;
}
.aContentTd{ border-bottom:1px #97C200 solid; }
.aFooterTd{ 
	height:30px; 
	-moz-box-shadow:0px -2px 5px #97C200;
	-webkit-box-shadow:0px -2px 5px #97C200; 
	box-shadow:0px -2px 5px #97C200;
	background-color:#474948;
	
}



.activeTab {
	background: #97C200;
	padding-bottom: 14px !important;
	-webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
}

.activeSubTab {
	background: #FFFFFF;
	color: #97C200 !important;
	padding-top: 4px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 16px !important;
	
	/* padding-bottom: 13px !important; */
	-webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
}

.mainMenu1 {
	font-size:14px;
	height: 33px !important; 
	color:#FFFFFF; 
	text-decoration:none; 
	padding:5px 20px;
	font-weight:Bold;
}

.mainMenu2 {
	font-size:14px;
	height: 33px !important; 
	color:#FFFFFF; 
	text-decoration:none; 
	padding:5px 20px;
	font-weight:Bold;
}

.mainMenu3 {
	font-size:14px;
	height: 33px !important; 
	color:#FFFFFF; 
	text-decoration:none; 
	padding:5px 20px;
	font-weight:Bold;
}


.subMenu1 {
	height: 33px !important;
	text-decoration:none;
	color: #FFFFFF;
}

.grnbutton {
    /*box-shadow: 1px 1px 0px 1px #ffffff;
    background-color: #9ACD32;
    border: 1px solid #9ACD32;
    color: #ffffff;*/
    background-color: #003B72;
    border: 1px solid #003B72;
    color: #ffffff;
    font-family: "Lato","Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 12px;
    height:25px;
    font-weight:BOLD;
}

.subMenu2 {
	height: 33px !important;
	text-decoration:none;
	color: #FFFFFF;
}
.subMenu3 {
	height: 33px !important;
	text-decoration:none;
	color: #FFFFFF;
}

.subMenuDiv {
	display: none;
}



.aContentTable{ width:99%; height:100%; border:0px;}
.aLeftBarTd{ 
	width:180px; border-right:1px #97C200 solid;
	/*
	box-shadow: inset -7px 0px 5px -5px #CCCCCC;
	background-color:#FFFFFF;*/
}
.aPageContentTd{padding: 8px 3px;}
.aPageContentTable{ width:100%; margin:10px;}
.aPageContentPartTd{ padding:20px;}
.divOverlay{ display:none;}

.aLogoTable{ width:100%;}
.aLogoTd{ width:120px;}
.aLogo{ margin:10px 20px;}
.aCphead{font-size:20px; color: #990000; font-weight: bold; font-family:Tahoma;}
.aLogoTextTd{ text-align:center;}
.aLoggedUser{}

.tabHead{font-size:16px; color:#003A88; font-weight:bold; padding:5px;}


.txtbox {border:#C9C9C9 1px solid ; font-size: 12px; height:24px; font-family:Arial; color:#999999; }
.txtarea {border:#C9C9C9 1px solid ; font-size: 12px;  font-family:Arial; color:#999999; }
.button {border:#9A0000 1px solid; font-size:13px;color:#FFFFFF; background-color:#9A0000;padding:3px 12px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px; 
cursor:pointer;
margin-left:10px;
}


.padding5p{padding:5px;}
.padding10p, .padd10{padding:10px;}
.padding15p{padding:15px;}
.padding20p{padding:20px;}
.margin5p{margin:5px;}
.margin10p{margin:10px;}
.margin15p{margin:15px;}
.margin20p{margin:20px;}
.nomargin{margin:none;}
.nopadding{padding:none;}

.menuHead{font-size:15px; color:#F77601; font-weight:bold; padding:5px 0px;}
.prodImg{width:50px; height:50px; border:1px #CCCCCC solid; text-align:center; vertical-align:middle;}
.actlink{font-size:13px; color:#9A0000; font-weight:bold; padding:5px 10px;}
.dottedTd{ border-bottom:1px #999999 dotted; padding:15px 0px;}
.GrayTextBox{font-size:11px; border:1px solid #CCCCCC; color:#666666}
.copy{ color:#FFFFFF; font-size:11px;}
.red-bor{border:2px solid #9E0000}
.red-bor1{border:1px solid #9E0000}
.h1{font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold; padding-left:40px;}
.h2{font-size:12px; font-family:Tahoma; color:#FFFFFF; font-weight:bold;}
.red-txt{font-size:17px; color:#003B72; font-weight:bold;}
.star-txt{font-size:11px; color:#9A0000;}

.red{color:#FF0000}
.grn{color:#97C200;}
.pnk{color:#FF0072;}
.blue{color:#3663BF;}


.sbox{ width:40px}
.mbox{ width:60px}
.lbox{ width:80px}
.xlbox{ width:100px}
.xxlbox{ width:120px}
.vxlbox{ width:140px}



.menubarShadow{
FONT-SIZE:13px;
COLOR:#FFFFFF;
BACKGROUND-COLOR:#003B72; /*#232323;*/
padding:3px;
-moz-box-shadow:0px -2px 12px #CCCCCC inset;
-webkit-box-shadow:0px -2px 12px #CCCCCC inset; 
box-shadow:1px 3px 5px #666666 inset;
}
.sidemenuShadow{
box-shadow: inset -7px 0px 5px -5px #CCCCCC;
background-color:#FFFFFF;
}
.tableBgsub
{
background-color:#EFEFEF;
background-repeat:repeat-x;
background-position:top;
-moz-border-radius:9px 9px 0px 0px;
-webkit-border-radius:9px 9px 0px 0px;
border-radius:9px 9px 0px 0px; 
box-shadow:1px 2px 4px 1px #CCCCCC;
-moz-box-shadow:1px 2px 4px 1px #CCCCCC;
-webkit-box-shadow:1px 2px 4px 1px #CCCCCC;
}

.topmenu:link{font-size:13px; color:#FFFFFF; text-decoration:none; padding:5px 20px;}
.topmenu:visited{font-size:13px; color:#FFFFFF; text-decoration:none; padding:5px 20px;}
.topmenu:hover{font-size:13px; color:#F77601; text-decoration:none; padding:5px 20px;}
.topmenu:active{font-size:13px; color:#FFFFFF; text-decoration:none; padding:5px 20px;}

.menulink:link{font-size:13px; color:#970000; text-decoration:none; padding:5px 10px;}
.menulink:visited{font-size:13px; color:#970000; text-decoration:none; padding:5px 10px;}
.menulink:hover{font-size:13px; color:#F77601; text-decoration:none; padding:5px 10px;}
.menulink:active{font-size:13px; color:#970000; text-decoration:none; padding:5px 10px;}


/* pagination style */
.pagin {padding: 2px 0;margin: 0;font-family: Arial;font-size: 7pt;font-weight: bold;}
.pagin * {padding: 2px 6px;margin: 0;}
.pagin a {border: solid 1px #666666;background-color: #EFEFEF;color: #666666;text-decoration: none;}
.pagin a:visited {border: solid 1px #666666;background-color: #EFEFEF;color: #60606F;text-decoration: none;}
.pagin a:hover, .pagin a:active {border: solid 1px #CC0000;background-color: white;color: #CC0000;text-decoration: none;}
.pagin span {cursor: default;border: solid 1px #808080;background-color: #F0F0F0;color: #B0B0B0;}
.pagin span.current {border: solid 1px #666666;background-color: #666666;color: white;}

.onlyNumbers {}
.chkInput {}
.errorSpan { display:none;}
.changeStatus {}
.selectAll{}
.itemSelect {}
.changeShowin {}
.viewDetails {}
.editItem {}
.productImageUploadTR { display:none;}
.productImageUpload {}
.galleryImageUploadTR { display:none;}
.collectionImageUpload {}
.weddingImageUploadTR { display:none;}
.weddingImageUpload {}
.tableVal {}
.codeClass {}
.chkImg{}
.DeleteRow{}

#cke_28, #cke_63, #cke_73, #cke_77, #cke_80, #cke_84{ display:none; !important}


/*=========================*/

