body {
    margin: 0px;
    padding: 0px;
    font-family: "Lato","Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #333333;
    height: 100%;
}
td, tr {
    font-family: "Lato","Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #333333;
}
.aHeaderTd {
    height: 75px;
    text-align: left;
    box-shadow: 0px 5px 5px #97C200;
}

.content {
    background-color: #F0F0F0;
}

.logintab {
    background-clip: padding-box;
    background-color: #FFFFFF;
    margin-top: 100px;
    padding: 20px;
}
.logintitle {
    background-color: #FFFFFF;
    border-bottom: 1px solid #F0F0F0;
    margin: 0 -20px;
    padding: 0 20px 20px;
}

.loginform {
    margin-top: 20px;
}

.label {
    font-family: "Lato","Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #474948;
}
.txtinput {
    border: 1px #CACACA solid;
    font-family: "Lato","Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #333333;
    height: 20px;
    line-height: 16px;
    vertical-align: middle;
    background-color: #FFFFFF;
}
.buttons {
    background-color: #F9F9F9;
    border-top: 1px solid #F0F0F0;
    margin: 20px -20px -20px;
    padding: 20px;
}
.grnbutton 
{
    box-shadow: 1px 1px 0px 1px #ffffff;
    background-color: #8E981F;
    border-radius: 2px;
    border: 1px solid #CDD83C;
    display: inline-block;
    color: #ffffff;
    font-family: "Lato","Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}
.footer {
    background-color: #474948;
    position:absolute;
    bottom:0;
    width:100%;
}
.copy {
    color: #B4B4B4;
}
.disclaimer {
    font-size: 11px;
    color: #FBFBF9;
}